@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../fonts/fraunces-v22-latin-700.woff2") format("woff2"), url("../../fonts/fraunces-v22-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v22-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v22-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../../fonts/barlow-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 701;
  src: local(""), url("../../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../../fonts/barlow-v12-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fraunces";
}

.container {
  width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 689px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 327px;
  }
}

.header {
  padding: 15px 5px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 285px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link2 {
  text-decoration: none;
  font-weight: 701;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.header__link2:active {
  color: #333D4B;
}

.header__checkbox {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header__label {
  display: none;
}

@media screen and (max-width: 375px) {
  .header__box {
    display: none;
  }
  .header__label {
    display: block;
  }
  .header__checkbox:checked ~ .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.504981)), color-stop(55.94%, #FEFCF7));
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0);
    top: 130px;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 125px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__link2 {
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    padding: 16px;
    margin-bottom: 32px;
  }
}

.section1 {
  width: 1280px;
  height: 600px;
  background: url("../../imgs/Bitmap.png");
  background-repeat: no-repeat;
  background: cover;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */